# Setup

## Check Python version

In [264]:
from platform import  python_version

In [265]:
python_version()

'3.10.5'

## Install/Download necessary packages

In [266]:
import sys

In [267]:
# # Uncomment these if any packages are not installed in your current jupyter env 
# # Installing a pip package in the current kernel
# # Pandas also installs the numpy package
# !{sys.executable} -m pip install pandas  
# !{sys.executable} -m pip install requests
# !{sys.executable} -m pip install matplotlib
# !{sys.executable} -m pip install sklearn
# !{sys.executable} -m pip install featuretools

In [268]:
# import the required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import sklearn
import os
import datetime as dt
import featuretools as ft
from featuretools.selection import selection
from IPython.core.interactiveshell import InteractiveShell

# Importing and Preprocessing the Data

In [269]:
def view_files():
    path = os.getcwd()
    path = f"{path}\data"
    return(os.listdir(path))

view_files()

['absa.csv',
 'AllShares_growth.csv',
 'household_financial_assets-currency_and_deposits.csv',
 'investment_Qgrowth.csv',
 'inv_by_assets_intellectual.csv',
 'share_prices.csv']

## Importing and Cleaning

In [270]:
def check_file(file):
    #grab the file path from which to import the dataset
    path = os.getcwd()
    path = f"{path}\data"
    path = f"{path}\{file}"
    return(path)

In [271]:
check_file("absa.csv")

'C:\\GitHub\\DS_PROJ\\data\\absa.csv'

In [272]:
def import_data(path):
    # read the csv file as a dataframe and remove unnecessary columns
    df = pd.read_csv(filepath_or_buffer=path)
    return(df)

In [273]:
absa = import_data(check_file("absa.csv"))
absa.head(1)

,Bank,Unit,Table,Time series code,D_M_1993M01: 1993M01,D_M_1993M02: 1993M02,D_M_1993M03: 1993M03,D_M_1993M04: 1993M04,D_M_1993M05: 1993M05,D_M_1993M06: 1993M06,...,D_M_2021M07: 2021M07,D_M_2021M08: 2021M08,D_M_2021M09: 2021M09,D_M_2021M10: 2021M10,D_M_2021M11: 2021M11,D_M_2021M12: 2021M12,D_M_2022M01: 2022M01,D_M_2022M02: 2022M02,D_M_2022M03: 2022M03,D_M_2022M04: 2022M04
0,B_34118: Absa Bank Ltd,U_RT: R'000 (thousands),T_T01R001: Item 1: DEPOSITS (total of items 2 ...,RBD-B_34118-T_T01R001-U_RT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data is not stored in the format typically useful for the pandas framework.

First, the unnecessary variables/indicators such as `Units` and `Time series code"` 

is be removed or transformed and the excessive variable naming trimmed.

In [274]:
def clean_names1(df, bank_prefix="B_34118: "):
    df = df.drop(["Unit", "Time series code"], axis="columns")
    
    # Remove ugly string labels of columns
    df.columns = df.columns.str.replace(pat="D_M_[0-9]{4}M[0-9]{2}:", repl="", regex=True)
    df["Bank"] = df["Bank"].str.replace(pat=bank_prefix, repl="", regex=True)
    df["Bank"] = df["Bank"].str.replace(pat = " ", repl = "_")
    return(df)

In [275]:
absa = clean_names1(absa)

In [276]:
absa.head(1)

,Bank,Table,1993M01,1993M02,1993M03,1993M04,1993M05,1993M06,1993M07,1993M08,...,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04
0,Absa_Bank_Ltd,T_T01R001: Item 1: DEPOSITS (total of items 2 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below is a check to ensure that all the rows that have lable 

`T_T[0-9]{2}R[0-9]{3}:` or `T_T[0-9]{2}R[0-9]{3}_A:` do not

contain any observations and can therefore be removed

In [277]:
InteractiveShell.ast_node_interactivity = "all"

In [278]:
all(absa[absa["Table"].str.contains("T_T[0-9]{2}R[0-9]{3}:", 
                                    regex = True)].isna().sum(axis=1, 
                                                              skipna=False) == len(absa.columns) - 2);
all(absa[absa["Table"].str.contains("T_T[0-9]{2}R[0-9]{3}_A:", 
                                    regex = True)].isna().sum(axis=1, 
                                                              skipna=False) == len(absa.columns) - 2)

True

True

In [279]:
InteractiveShell.ast_node_interactivity = "last"

Now, we can remove the rows that contain the labels

mentioned above

In [280]:
def remove_empty(df):
    # Remove empty title rows
    df = df[~df["Table"].str.contains("T_T[0-9]{2}R[0-9]{3}:", regex = True)]
    df = df[~df["Table"].str.contains("T_T[0-9]{2}R[0-9]{3}_A:", regex = True)]
    
    return(df)

In [281]:
absa = remove_empty(absa)

In [282]:
absa.head(1)

,Bank,Table,1993M01,1993M02,1993M03,1993M04,1993M05,1993M06,1993M07,1993M08,...,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04
1,Absa_Bank_Ltd,T_T01R001C01: T01R001C01: DEPOSITS (total of i...,9588342.0,11392410.0,10668670.0,11432864.0,11014770.0,11042960.0,10561166.0,12471006.0,...,218471395.0,209031404.0,215453291.0,214590582.0,218067373.0,230444938.0,202177025.0,208657411.0,221079725.0,220710857.0

In [283]:
# absa.loc[absa["Table"].str.contains("T_T01R[0-9]{3}C[0-9]{2}: T01R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
#                                regex=True), :].iloc[:,1:3].set_index("Table").head(15)

absa.loc[absa["Table"].str.contains("T_T01R001|T_T01R002|T_T02R032", 
                               regex=True), :].iloc[:,1:3].set_index("Table")

                                                       1993M01
Table
T_T01R001C01: T01R001C01: DEPOSITS (total of it...   9588342.0
T_T01R001C02: T01R001C02: DEPOSITS (total of it...   7800740.0
T_T01R001C03: T01R001C03: DEPOSITS (total of it...   8946659.0
T_T01R001C04: T01R001C04: DEPOSITS (total of it...   9417927.0
T_T01R001C05: T01R001C05: DEPOSITS (total of it...  21301640.0
T_T01R001C06: T01R001C06: DEPOSITS (total of it...   8981624.0
T_T01R001C07: T01R001C07: DEPOSITS (total of it...  66036932.0
T_T01R001C08: T01R001C08: DEPOSITS (total of it...         NaN
T_T01R002C01: T01R002C01: DEPOSITS DENOMINATED ...   9588342.0
T_T01R002C02: T01R002C02: DEPOSITS DENOMINATED ...   7800740.0
T_T01R002C03: T01R002C03: DEPOSITS DENOMINATED ...   8946145.0
T_T01R002C04: T01R002C04: DEPOSITS DENOMINATED ...   9417927.0
T_T01R002C05: T01R002C05: DEPOSITS DENOMINATED ...  21299872.0
T_T01R002C06: T01R002C06: DEPOSITS DENOMINATED ...   8981624.0
T_T01R002C07: T01R002C07: DEPOSITS DENOMINATED ...  66034650.0
T_T01R002C08: T01R002C08: DEPOSITS DENOMINATED ...         NaN
T_T02R032C01: T02R032C01: DEPOSITS DENOMINATED ...         NaN
T_T02R032C02: T02R032C02: DEPOSITS DENOMINATED ...         NaN
T_T02R032C03: T02R032C03: DEPOSITS DENOMINATED ...       514.0
T_T02R032C04: T02R032C04: DEPOSITS DENOMINATED ...         NaN
T_T02R032C05: T02R032C05: DEPOSITS DENOMINATED ...      1768.0
T_T02R032C06: T02R032C06: DEPOSITS DENOMINATED ...         NaN
T_T02R032C07: T02R032C07: DEPOSITS DENOMINATED ...      2282.0
T_T02R032C09: T02R032C09: DEPOSITS DENOMINATED ...         NaN

In [284]:
66034650.0 + 2282.0 == 66036932.0

# i.e. what we have above is
r_001 = absa.loc[absa["Table"].str.contains("DEPOSITS [(]total of items 2 and 32[)]: TOTAL [(]7[)]"),
        :].iloc[:,3]
r_002 = absa.loc[absa["Table"].str.contains("DEPOSITS DENOMINATED IN RAND [(]total of items 3, 6, 12, 13 and 29[)]: TOTAL [(]7[)]"),
          :].iloc[:,3]
r_032 = absa.loc[absa["Table"].str.contains("DEPOSITS DENOMINATED IN FOREIGN CURRENCY [(]total of items 33 to 38[)]: TOTAL [(]7[)]"),
          :].iloc[:,3]
int(r_001) == int(r_002) + int(r_032)

True

In [285]:
any(absa["Table"].str.contains("of which", case=False))
absa[absa["Table"].str.contains("Of which : in foreign currency", case=False)]["Table"]

374    T_T03R041C14: T03R041C14: OTHER BORROWED FUNDS...
380    T_T03R042C14: T03R042C14: Loans received under...
386    T_T03R043C14: T03R043C14: SA Reserve Bank and ...
392    T_T03R044C14: T03R044C14: SA banksb: Of which ...
398    T_T03R450C14: T03R045AC14: Insurers and pensio...
404    T_T03R045C14: T03R045C14: Insurersg: Of which ...
410    T_T03R046C14: T03R046C14: Pension funds: Of wh...
416    T_T03R470C14: T03R047AC14: Financial and non-f...
422    T_T03R047C14: T03R047C14: Other financial corp...
428    T_T03R048C14: T03R048C14: Non-financial corpor...
434    T_T03R049C14: T03R049C14: Foreign sector: Of w...
440    T_T03R050C14: T03R050C14: Other: Of which : in...
446    T_T03R051C14: T03R051C14: Collateralised borro...
452    T_T03R052C14: T03R052C14: SA banksb: Of which ...
458    T_T03R530C14: T03R053AC14: Financial corporate...
464    T_T03R053C14: T03R053C14: Financial corporate ...
470    T_T03R054C14: T03R054C14: Non-financial corpor...
476    T_T03R055C14: T03R055C14: Foreign sector: Of w...
482    T_T03R056C14: T03R056C14: Other: Of which : in...
488    T_T03R057C14: T03R057C14: Otherf: Of which : i...
494    T_T03R058C14: T03R058C14: FOREIGN CURRENCY FUN...
500    T_T03R059C14: T03R059C14: SA Reserve Bank and ...
506    T_T03R060C14: T03R060C14: SA banksb: Of which ...
512    T_T03R610C14: T03R061AC14: Financial and non f...
518    T_T03R061C14: T03R061C14: SA Financial corpora...
524    T_T03R062C14: T03R062C14: SA Non-financial cor...
530    T_T03R063C14: T03R063C14: Foreign sector: Othe...
536    T_T03R064C14: T03R064C14: Original maturity of...
542    T_T03R065C14: T03R065C14: Original maturity of...
548    T_T03R066C14: T03R066C14: Other: Of which : in...
Name: Table, dtype: object

And finally, we can remove the ugly naming

In [286]:
# def clean_names2(df):
#     # Label the different tables withing the df, i.e liablities, assets, etc.
#     df["Table"] = df["Table"].str.replace("T_T0[0-4]R[0-9]{3,4}C[0-9]{2}: T0[1-4]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
#                                           regex = True, repl="L_")
#     df["Table"] = df["Table"].str.replace("T_T0[5]R[0-9]{3,4}C[0-9]{2}: T0[5]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
#                                       regex = True, repl="E_")
#     df["Table"] = df["Table"].str.replace("T_T0[6-9]R[0-9]{3,4}C[0-9]{2}: T0[6-9]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
#                                           regex = True, repl="A_")
#     df["Table"] = df["Table"].str.replace("T_T1[0-3]R[0-9]{3,4}C[0-9]{2}: T1[0-3]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
#                                           regex = True, repl="A_")
#     #  remove bracket explanations
#     df["Table"] = df["Table"].str.replace("[(][0-9a-z\s,]{2,}[)][:] ", regex = True, repl="")
#     return(df)

In [287]:
def clean_names2(df):
    # Label the different tables withing the df, i.e liablities, assets, etc.
    df["Table"] = df["Table"].str.replace("T_T0[1-2](R[0-9]{3,4})C[0-9]{2}: T0[1-2]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
                                          regex = True, repl=r"L_T1-2_\1_")
    df["Table"] = df["Table"].str.replace("T_T0[3-4](R[0-9]{3,4})C[0-9]{2}: T0[3-4]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
                                          regex = True, repl=r"L_T3-4_\1_")
    df["Table"] = df["Table"].str.replace("T_T0[5](R[0-9]{3,4})C[0-9]{2}: T0[5]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
                                      regex = True, repl=r"E_T5_\1_")
    df["Table"] = df["Table"].str.replace("T_T0[6-9](R[0-9]{3,4})C[0-9]{2}: T0[6-9]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
                                          regex = True, repl=r"A_T6-13_\1_")
    df["Table"] = df["Table"].str.replace("T_T1[0-3](R[0-9]{3,4})C[0-9]{2}: T1[0-3]R[0-9]{3}[A]{0,1}C[0-9]{2}: ", 
                                          regex = True, repl=r"A_T6-13_\1_")
    df["Table"] = df["Table"].str.replace(",", "")
    # remove bracket explanations
#     df["Table"] = df["Table"].str.replace("[(][0-9a-z\s,]{2,}[)][:] ", regex = True, repl="")
    return(df)

In [288]:
absa = clean_names2(absa)

In [289]:
absa.head(1)

,Bank,Table,1993M01,1993M02,1993M03,1993M04,1993M05,1993M06,1993M07,1993M08,...,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04
1,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,9588342.0,11392410.0,10668670.0,11432864.0,11014770.0,11042960.0,10561166.0,12471006.0,...,218471395.0,209031404.0,215453291.0,214590582.0,218067373.0,230444938.0,202177025.0,208657411.0,221079725.0,220710857.0

In [290]:
# test = pd.DataFrame(absa[absa["Table"].str.contains("Of which : in foreign currency", case=False)]["Table"])

In [291]:
# test = test.drop_duplicates()

In [292]:
# test2 = list(test["Table"].str.replace(" Of which : in foreign currency.*", 
#                                           regex = True, repl=""))
# doubles = list()
# for item in test2:
#     #print(str(item))
#     doubles.append(list(absa[absa["Table"].str.contains(item)]["Table"]))
# doubles

In [293]:
list(absa["Table"])

['L_T1-2_R001_DEPOSITS (total of items 2 and 32): Cheque (1)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): Savings (2)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): Up to 1 day (3)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 1 day to 1 month (4)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 1 month to 6 months (5)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 6 months (6)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): TOTAL (7)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Cheque (1)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Savings (2)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Up to 1 day (3)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 1 day to 1 month (4)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 1 month to 6 months (5)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 6 months (6)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): TOTAL (7)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Cheque (1)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Savings (2)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Up to 1 day (3)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 1 day to 1 month (4)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 1 month to 6 months (5)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 6 months (6)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): TOTAL (7)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R004_NCDs/PNsi: Cheque (1)',
 'L_T1-2_R004_NCDs/PNsi: Savings (2)',
 'L_T1-2_R004_NCDs/PNsi: Up to 1 day (3)',
 'L_T1-2_R004_NCDs/PNsi: More than 1 day to 1 month (4)',
 'L_T1-2_R004_NCDs/PNsi: More than 1 month to 6 months (5)',
 'L_T1-2_R004_NCDs/PNsi: More than 6 months (6)',
 'L_T1-2_R004_NCDs/PNsi: TOTAL (7)',
 'L_T1-2_R004_NCDs/PNsi: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R005_Other deposits: Cheque (1)',
 'L_T1-2_R005_Other deposits: Savings (2)',
 'L_T1-2_R005_Other deposits: Up to 1 day (3)',
 'L_T1-2_R005_Other deposits: More than 1 day to 1 month (4)',
 'L_T1-2_R005_Other deposits: More than 1 month to 6 months (5)',
 'L_T1-2_R005_Other deposits: More than 6 months (6)',
 'L_T1-2_R005_Other deposits: TOTAL (7)',
 'L_T1-2_R005_Other deposits: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Cheque (1)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Savings (2)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Up to 1 day (3)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 1 day to 1 month (4)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 1 month to 6 months (5)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 6 months (6)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): TOTAL (7)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Cheque (1)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Savings (2)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Up to 1 day (3)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 1 day to 1 month (4)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 1 month to 6 months (5)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 6 months (6)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): TOTAL (7)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R008_Tax and loan account: Cheque (1)',
 'L_T1-2_R008_Tax and loan account: Savings (2)',
 'L_T1-2_R008_Tax and loan account: Up to 1 day (3)',
 'L_T1-2_R008_Tax and loan account: More than 1 day to 1 month (4)',
 'L_T1-2_R008_Tax and loan account: More than 1 month to 6 months (5)',
 'L_T1-2_R008_Tax and loan account: More than 6 months (6)',
 'L_T1-2_R008_Tax and loan account: TOTAL (7)',
 'L_T1-2_R008_Tax and loan account: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R009_Other: Cheque (1)',
 'L_T1-2_R009_Other: Savings (2)',
 'L_T1-2_R009_Other: Up to 1 day (3)',
 'L_T1-2_R009_Other: More than 1 day to 1 month (4)',
 'L_T1-2_R009_Other: More than 1 month to 6 months (5)',
 'L_T1-2_R009_Other: More than 6 months (6)',
 'L_T1-2_R009_Other: TOTAL (7)',
 'L_T1-2_R009_Other: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R010_Provincial governments: Cheque (1)',
 'L_T1-2_R010_Provincial governments: Savings (2)',
 'L_T1-2_R010_Provincial governments: Up to 1 day (3)',
 'L_T1-2_R010_Provincial governments: More than 1 day to 1 month (4)',
 'L_T1-2_R010_Provincial governments: More than 1 month to 6 months (5)',
 'L_T1-2_R010_Provincial governments: More than 6 months (6)',
 'L_T1-2_R010_Provincial governments: TOTAL (7)',
 'L_T1-2_R010_Provincial governments: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R011_Social security funds: Cheque (1)',
 'L_T1-2_R011_Social security funds: Savings (2)',
 'L_T1-2_R011_Social security funds: Up to 1 day (3)',
 'L_T1-2_R011_Social security funds: More than 1 day to 1 month (4)',
 'L_T1-2_R011_Social security funds: More than 1 month to 6 months (5)',
 'L_T1-2_R011_Social security funds: More than 6 months (6)',
 'L_T1-2_R011_Social security funds: TOTAL (7)',
 'L_T1-2_R011_Social security funds: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R012_Other monetary institutionsh: Cheque (1)',
 'L_T1-2_R012_Other monetary institutionsh: Savings (2)',
 'L_T1-2_R012_Other monetary institutionsh: Up to 1 day (3)',
 'L_T1-2_R012_Other monetary institutionsh: More than 1 day to 1 month (4)',
 'L_T1-2_R012_Other monetary institutionsh: More than 1 month to 6 months (5)',
 'L_T1-2_R012_Other monetary institutionsh: More than 6 months (6)',
 'L_T1-2_R012_Other monetary institutionsh: TOTAL (7)',
 'L_T1-2_R012_Other monetary institutionsh: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Cheque (1)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Savings (2)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Up to 1 day (3)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 1 day to 1 month (4)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 1 month to 6 months (5)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 6 months (6)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): TOTAL (7)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R014_Local government: Cheque (1)',
 'L_T1-2_R014_Local government: Savings (2)',
 'L_T1-2_R014_Local government: Up to 1 day (3)',
 'L_T1-2_R014_Local government: More than 1 day to 1 month (4)',
 'L_T1-2_R014_Local government: More than 1 month to 6 months (5)',
 'L_T1-2_R014_Local government: More than 6 months (6)',
 'L_T1-2_R014_Local government: TOTAL (7)',
 'L_T1-2_R014_Local government: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): Cheque (1)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): Savings (2)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): Up to 1 day (3)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): More than 1 day to 1 month (4)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): More than 1 month to 6 months (5)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): More than 6 months (6)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): TOTAL (7)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R016_Public Investment Corporation (PIC): Cheque (1)',
 'L_T1-2_R016_Public Investment Corporation (PIC): Savings (2)',
 'L_T1-2_R016_Public Investment Corporation (PIC): Up to 1 day (3)',
 'L_T1-2_R016_Public Investment Corporation (PIC): More than 1 day to 1 month (4)',
 'L_T1-2_R016_Public Investment Corporation (PIC): More than 1 month to 6 months (5)',
 'L_T1-2_R016_Public Investment Corporation (PIC): More than 6 months (6)',
 'L_T1-2_R016_Public Investment Corporation (PIC): TOTAL (7)',
 'L_T1-2_R016_Public Investment Corporation (PIC): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): Cheque (1)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): Savings (2)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): Up to 1 day (3)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): More than 1 day to 1 month (4)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): More than 1 month to 6 months (5)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): More than 6 months (6)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL (7)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R018_Insurersf: Cheque (1)',
 'L_T1-2_R018_Insurersf: Savings (2)',
 'L_T1-2_R018_Insurersf: Up to 1 day (3)',
 'L_T1-2_R018_Insurersf: More than 1 day to 1 month (4)',
 'L_T1-2_R018_Insurersf: More than 1 month to 6 months (5)',
 'L_T1-2_R018_Insurersf: More than 6 months (6)',
 'L_T1-2_R018_Insurersf: TOTAL (7)',
 'L_T1-2_R018_Insurersf: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R019_Pension funds: Cheque (1)',
 'L_T1-2_R019_Pension funds: Savings (2)',
 'L_T1-2_R019_Pension funds: Up to 1 day (3)',
 'L_T1-2_R019_Pension funds: More than 1 day to 1 month (4)',
 'L_T1-2_R019_Pension funds: More than 1 month to 6 months (5)',
 'L_T1-2_R019_Pension funds: More than 6 months (6)',
 'L_T1-2_R019_Pension funds: TOTAL (7)',
 'L_T1-2_R019_Pension funds: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Cheque (1)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Savings (2)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Up to 1 day (3)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 1 day to 1 month (4)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 1 month to 6 months (5)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 6 months (6)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): TOTAL (7)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R021_Money-market unit trusts: Cheque (1)',
 'L_T1-2_R021_Money-market unit trusts: Savings (2)',
 'L_T1-2_R021_Money-market unit trusts: Up to 1 day (3)',
 'L_T1-2_R021_Money-market unit trusts: More than 1 day to 1 month (4)',
 'L_T1-2_R021_Money-market unit trusts: More than 1 month to 6 months (5)',
 'L_T1-2_R021_Money-market unit trusts: More than 6 months (6)',
 'L_T1-2_R021_Money-market unit trusts: TOTAL (7)',
 'L_T1-2_R021_Money-market unit trusts: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R022_Other unit trusts: Cheque (1)',
 'L_T1-2_R022_Other unit trusts: Savings (2)',
 'L_T1-2_R022_Other unit trusts: Up to 1 day (3)',
 'L_T1-2_R022_Other unit trusts: More than 1 day to 1 month (4)',
 'L_T1-2_R022_Other unit trusts: More than 1 month to 6 months (5)',
 'L_T1-2_R022_Other unit trusts: More than 6 months (6)',
 'L_T1-2_R022_Other unit trusts: TOTAL (7)',
 'L_T1-2_R022_Other unit trusts: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R023_Fund managers: Cheque (1)',
 'L_T1-2_R023_Fund managers: Savings (2)',
 'L_T1-2_R023_Fund managers: Up to 1 day (3)',
 'L_T1-2_R023_Fund managers: More than 1 day to 1 month (4)',
 'L_T1-2_R023_Fund managers: More than 1 month to 6 months (5)',
 'L_T1-2_R023_Fund managers: More than 6 months (6)',
 'L_T1-2_R023_Fund managers: TOTAL (7)',
 'L_T1-2_R023_Fund managers: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R024_Otherg: Cheque (1)',
 'L_T1-2_R024_Otherg: Savings (2)',
 'L_T1-2_R024_Otherg: Up to 1 day (3)',
 'L_T1-2_R024_Otherg: More than 1 day to 1 month (4)',
 'L_T1-2_R024_Otherg: More than 1 month to 6 months (5)',
 'L_T1-2_R024_Otherg: More than 6 months (6)',
 'L_T1-2_R024_Otherg: TOTAL (7)',
 'L_T1-2_R024_Otherg: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R025_Private non-financial corporate sector: Cheque (1)',
 'L_T1-2_R025_Private non-financial corporate sector: Savings (2)',
 'L_T1-2_R025_Private non-financial corporate sector: Up to 1 day (3)',
 'L_T1-2_R025_Private non-financial corporate sector: More than 1 day to 1 month (4)',
 'L_T1-2_R025_Private non-financial corporate sector: More than 1 month to 6 months (5)',
 'L_T1-2_R025_Private non-financial corporate sector: More than 6 months (6)',
 'L_T1-2_R025_Private non-financial corporate sector: TOTAL (7)',
 'L_T1-2_R025_Private non-financial corporate sector: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R026_Unincorporated business enterprises: Cheque (1)',
 'L_T1-2_R026_Unincorporated business enterprises: Savings (2)',
 'L_T1-2_R026_Unincorporated business enterprises: Up to 1 day (3)',
 'L_T1-2_R026_Unincorporated business enterprises: More than 1 day to 1 month (4)',
 'L_T1-2_R026_Unincorporated business enterprises: More than 1 month to 6 months (5)',
 'L_T1-2_R026_Unincorporated business enterprises: More than 6 months (6)',
 'L_T1-2_R026_Unincorporated business enterprises: TOTAL (7)',
 'L_T1-2_R026_Unincorporated business enterprises: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R027_Households: Cheque (1)',
 'L_T1-2_R027_Households: Savings (2)',
 'L_T1-2_R027_Households: Up to 1 day (3)',
 'L_T1-2_R027_Households: More than 1 day to 1 month (4)',
 'L_T1-2_R027_Households: More than 1 month to 6 months (5)',
 'L_T1-2_R027_Households: More than 6 months (6)',
 'L_T1-2_R027_Households: TOTAL (7)',
 'L_T1-2_R027_Households: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R028_Non-profit organisations serving households and other: Cheque (1)',
 'L_T1-2_R028_Non-profit organisations serving households and other: Savings (2)',
 'L_T1-2_R028_Non-profit organisations serving households and other: Up to 1 day (3)',
 'L_T1-2_R028_Non-profit organisations serving households and other: More than 1 day to 1 month (4)',
 'L_T1-2_R028_Non-profit organisations serving households and other: More than 1 month to 6 months (5)',
 'L_T1-2_R028_Non-profit organisations serving households and other: More than 6 months (6)',
 'L_T1-2_R028_Non-profit organisations serving households and other: TOTAL (7)',
 'L_T1-2_R028_Non-profit organisations serving households and other: NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Cheque (1)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Savings (2)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Up to 1 day (3)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 1 day to 1 month (4)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 1 month to 6 months (5)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 6 months (6)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): TOTAL (7)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R030_Banks - including foreign group funding: Cheque (1)',
 'L_T1-2_R030_Banks - including foreign group funding: Savings (2)',
 'L_T1-2_R030_Banks - including foreign group funding: Up to 1 day (3)',
 'L_T1-2_R030_Banks - including foreign group funding: More than 1 day to 1 month (4)',
 'L_T1-2_R030_Banks - including foreign group funding: More than 1 month to 6 months (5)',
 'L_T1-2_R030_Banks - including foreign group funding: More than 6 months (6)',
 'L_T1-2_R030_Banks - including foreign group funding: TOTAL (7)',
 'L_T1-2_R030_Banks - including foreign group funding: NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R031_Other non-residents: Cheque (1)',
 'L_T1-2_R031_Other non-residents: Savings (2)',
 'L_T1-2_R031_Other non-residents: Up to 1 day (3)',
 'L_T1-2_R031_Other non-residents: More than 1 day to 1 month (4)',
 'L_T1-2_R031_Other non-residents: More than 1 month to 6 months (5)',
 'L_T1-2_R031_Other non-residents: More than 6 months (6)',
 'L_T1-2_R031_Other non-residents: TOTAL (7)',
 'L_T1-2_R031_Other non-residents: NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Cheque (1)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Savings (2)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Up to 1 day (3)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 1 day to 1 month (4)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 1 month to 6 months (5)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 6 months (6)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): TOTAL (7)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R033_SA banksb: Cheque (1)',
 'L_T1-2_R033_SA banksb: Savings (2)',
 'L_T1-2_R033_SA banksb: Up to 1 day (3)',
 'L_T1-2_R033_SA banksb: More than 1 day to 1 month (4)',
 'L_T1-2_R033_SA banksb: More than 1 month to 6 months (5)',
 'L_T1-2_R033_SA banksb: More than 6 months (6)',
 'L_T1-2_R033_SA banksb: TOTAL (7)',
 'L_T1-2_R033_SA banksb: NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R034_SA Central and provincial government: Cheque (1)',
 'L_T1-2_R034_SA Central and provincial government: Savings (2)',
 'L_T1-2_R034_SA Central and provincial government: Up to 1 day (3)',
 'L_T1-2_R034_SA Central and provincial government: More than 1 day to 1 month (4)',
 'L_T1-2_R034_SA Central and provincial government: More than 1 month to 6 months (5)',
 'L_T1-2_R034_SA Central and provincial government: More than 6 months (6)',
 'L_T1-2_R034_SA Central and provincial government: TOTAL (7)',
 'L_T1-2_R034_SA Central and provincial government: NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R035_SA Household sector: Cheque (1)',
 'L_T1-2_R035_SA Household sector: Savings (2)',
 'L_T1-2_R035_SA Household sector: Up to 1 day (3)',
 'L_T1-2_R035_SA Household sector: More than 1 day to 1 month (4)',

In [294]:
# totals = 
list(absa[absa["Table"].str.contains("total", case=False)]["Table"])

['L_T1-2_R001_DEPOSITS (total of items 2 and 32): Cheque (1)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): Savings (2)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): Up to 1 day (3)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 1 day to 1 month (4)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 1 month to 6 months (5)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): More than 6 months (6)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): TOTAL (7)',
 'L_T1-2_R001_DEPOSITS (total of items 2 and 32): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Cheque (1)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Savings (2)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): Up to 1 day (3)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 1 day to 1 month (4)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 1 month to 6 months (5)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): More than 6 months (6)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): TOTAL (7)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Cheque (1)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Savings (2)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): Up to 1 day (3)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 1 day to 1 month (4)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 1 month to 6 months (5)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): More than 6 months (6)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): TOTAL (7)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R004_NCDs/PNsi: TOTAL (7)',
 'L_T1-2_R005_Other deposits: TOTAL (7)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Cheque (1)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Savings (2)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): Up to 1 day (3)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 1 day to 1 month (4)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 1 month to 6 months (5)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): More than 6 months (6)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): TOTAL (7)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Cheque (1)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Savings (2)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): Up to 1 day (3)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 1 day to 1 month (4)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 1 month to 6 months (5)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): More than 6 months (6)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): TOTAL (7)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R008_Tax and loan account: TOTAL (7)',
 'L_T1-2_R009_Other: TOTAL (7)',
 'L_T1-2_R010_Provincial governments: TOTAL (7)',
 'L_T1-2_R011_Social security funds: TOTAL (7)',
 'L_T1-2_R012_Other monetary institutionsh: TOTAL (7)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Cheque (1)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Savings (2)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): Up to 1 day (3)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 1 day to 1 month (4)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 1 month to 6 months (5)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): More than 6 months (6)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): TOTAL (7)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R014_Local government: TOTAL (7)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): TOTAL (7)',
 'L_T1-2_R016_Public Investment Corporation (PIC): TOTAL (7)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL (7)',
 'L_T1-2_R018_Insurersf: TOTAL (7)',
 'L_T1-2_R019_Pension funds: TOTAL (7)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Cheque (1)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Savings (2)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): Up to 1 day (3)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 1 day to 1 month (4)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 1 month to 6 months (5)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): More than 6 months (6)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): TOTAL (7)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): NCDs/PNs i  (included in col. 7) (8)',
 'L_T1-2_R021_Money-market unit trusts: TOTAL (7)',
 'L_T1-2_R022_Other unit trusts: TOTAL (7)',
 'L_T1-2_R023_Fund managers: TOTAL (7)',
 'L_T1-2_R024_Otherg: TOTAL (7)',
 'L_T1-2_R025_Private non-financial corporate sector: TOTAL (7)',
 'L_T1-2_R026_Unincorporated business enterprises: TOTAL (7)',
 'L_T1-2_R027_Households: TOTAL (7)',
 'L_T1-2_R028_Non-profit organisations serving households and other: TOTAL (7)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Cheque (1)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Savings (2)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): Up to 1 day (3)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 1 day to 1 month (4)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 1 month to 6 months (5)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): More than 6 months (6)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): TOTAL (7)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R030_Banks - including foreign group funding: TOTAL (7)',
 'L_T1-2_R031_Other non-residents: TOTAL (7)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Cheque (1)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Savings (2)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): Up to 1 day (3)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 1 day to 1 month (4)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 1 month to 6 months (5)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): More than 6 months (6)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): TOTAL (7)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R033_SA banksb: TOTAL (7)',
 'L_T1-2_R034_SA Central and provincial government: TOTAL (7)',
 'L_T1-2_R035_SA Household sector: TOTAL (7)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): Cheque (1)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): Savings (2)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): Up to 1 day (3)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): More than 1 day to 1 month (4)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): More than 1 month to 6 months (5)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): More than 6 months (6)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): TOTAL (7)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R036_SA Financial corporate sectorc: TOTAL (7)',
 'L_T1-2_R037_SA Non-financial corporate sector and otherd: TOTAL (7)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): Cheque (1)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): Savings (2)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): Up to 1 day (3)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): More than 1 day to 1 month (4)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): More than 1 month to 6 months (5)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): More than 6 months (6)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): TOTAL (7)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): NCDs/PNse  (included in col. 7) (8)',
 'L_T1-2_R039_Banks: TOTAL (7)',
 'L_T1-2_R040_Other non-residents: TOTAL (7)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): Short-term (1)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): Medium-term (2)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): Long-term (3)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): TOTAL (4)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): Of which : in foreign currency (5)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): Short-term (1)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): Medium-term (2)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): Long-term (3)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): TOTAL (4)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): Of which : in foreign currency (5)',
 'L_T3-4_R043_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R044_SA banksb: TOTAL (4)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): Short-term (1)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): Medium-term (2)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): Long-term (3)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): TOTAL (4)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): Of which : in foreign currency (5)',
 'L_T3-4_R045_Insurersg: TOTAL (4)',
 'L_T3-4_R046_Pension funds: TOTAL (4)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): Short-term (1)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): Medium-term (2)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): Long-term (3)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): TOTAL (4)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): Of which : in foreign currency (5)',
 'L_T3-4_R047_Other financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R048_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R049_Foreign sector: TOTAL (4)',
 'L_T3-4_R050_Other: TOTAL (4)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): Short-term (1)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): Medium-term (2)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): Long-term (3)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): TOTAL (4)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): Of which : in foreign currency (5)',
 'L_T3-4_R052_SA banksb: TOTAL (4)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): Short-term (1)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): Medium-term (2)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): Long-term (3)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): TOTAL (4)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): Of which : in foreign currency (5)',
 'L_T3-4_R053_Financial corporate sectore: TOTAL (4)',
 'L_T3-4_R054_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R055_Foreign sector: TOTAL (4)',
 'L_T3-4_R056_Other: TOTAL (4)',
 'L_T3-4_R057_Otherf: TOTAL (4)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): Short-term (1)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): Medium-term (2)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): Long-term (3)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): TOTAL (4)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): Of which : in foreign currency (5)',
 'L_T3-4_R059_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R060_SA banksb: TOTAL (4)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): Short-term (1)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): Medium-term (2)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): Long-term (3)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): TOTAL (4)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): Of which : in foreign currency (5)',
 'L_T3-4_R061_SA Financial corporate sectord: TOTAL (4)',
 'L_T3-4_R062_SA Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R063_Foreign sector: Other foreign funding: TOTAL (4)',
 'L_T3-4_R064_Original maturity of one year and less: TOTAL (4)',
 'L_T3-4_R065_Original maturity of more than one year: TOTAL (4)',
 'L_T3-4_R066_Other: TOTAL (4)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): Short-term (1)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): Medium-term (2)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): Long-term (3)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): TOTAL (4)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): Of which :  in foreign currency (5)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): Short-term (1)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): Medium-term (2)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): Long-term (3)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): TOTAL (4)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): Of which :  in foreign currency (5)',
 'L_T3-4_R069_SA banksb: TOTAL (4)',
 'L_T3-4_R070_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R071_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R072_Foreign sector: TOTAL (4)',
 'L_T3-4_R073_Credits in transit: TOTAL (4)',
 'L_T3-4_R074_Other (total of items 75 and 76): Short-term (1)',
 'L_T3-4_R074_Other (total of items 75 and 76): Medium-term (2)',
 'L_T3-4_R074_Other (total of items 75 and 76): Long-term (3)',
 'L_T3-4_R074_Other (total of items 75 and 76): TOTAL (4)',
 'L_T3-4_R074_Other (total of items 75 and 76): Of which :  in foreign currency (5)',
 'L_T3-4_R075_Financial corporate sector: TOTAL (4)',
 'L_T3-4_R076_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R077_Foreign sector: TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Short-term (1)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Medium-term (2)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Long-term (3)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Of which :  in foreign currency (5)',
 'L_T3-4_R079_OUTSTANDING LIABILITIES ON BEHALF OF CLIENTS per contra item 268: TOTAL (4)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): Short-term (1)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): Medium-term (2)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): Long-term (3)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): TOTAL (4)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): Of which :  in foreign currency (5)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): Short-term (1)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): Medium-term (2)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): Long-term (3)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): TOTAL (4)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): Of which :  in foreign currency (5)',
 'L_T3-4_R082_SA banksb and other monetary institutionsd: TOTAL (4)',
 'L_T3-4_R083_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R084_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R085_Liabilities i.r.o derivative instruments : to foreign sector: TOTAL (4)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): Short-term (1)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): Medium-term (2)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): Long-term (3)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): TOTAL (4)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): Of which :  in foreign currency (5)',
 'L_T3-4_R087_SA banksb: TOTAL (4)',
 'L_T3-4_R088_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R089_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R090_Other trading liabilities (excluding derivatives): to foreign sector: TOTAL (4)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): Short-term (1)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): Medium-term (2)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): Long-term (3)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): TOTAL (4)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): Of which :  in foreign currency (5)',
 'L_T3-4_R092_Tax (current and deferred): TOTAL (4)',
 'L_T3-4_R093_Other: TOTAL (4)',
 'L_T3-4_R094_Other liabilities: to foreign sector: TOTAL (4)',

So we want to exclude several types of columns. That is, 

Those not containing the uppercase label `TOTAL`

First, to make things easier, the data is split into the three

major components of the Balance Sheet. That is, liabilities, 
assets, and equity

The dataframe must frist be transposed to ensure
it is in the correct form for the model from the start

In [295]:
list(absa.loc[absa["Table"].str.contains("TOTAL"),:]["Table"])

['L_T1-2_R001_DEPOSITS (total of items 2 and 32): TOTAL (7)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): TOTAL (7)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): TOTAL (7)',
 'L_T1-2_R004_NCDs/PNsi: TOTAL (7)',
 'L_T1-2_R005_Other deposits: TOTAL (7)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): TOTAL (7)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): TOTAL (7)',
 'L_T1-2_R008_Tax and loan account: TOTAL (7)',
 'L_T1-2_R009_Other: TOTAL (7)',
 'L_T1-2_R010_Provincial governments: TOTAL (7)',
 'L_T1-2_R011_Social security funds: TOTAL (7)',
 'L_T1-2_R012_Other monetary institutionsh: TOTAL (7)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): TOTAL (7)',
 'L_T1-2_R014_Local government: TOTAL (7)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): TOTAL (7)',
 'L_T1-2_R016_Public Investment Corporation (PIC): TOTAL (7)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL (7)',
 'L_T1-2_R018_Insurersf: TOTAL (7)',
 'L_T1-2_R019_Pension funds: TOTAL (7)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): TOTAL (7)',
 'L_T1-2_R021_Money-market unit trusts: TOTAL (7)',
 'L_T1-2_R022_Other unit trusts: TOTAL (7)',
 'L_T1-2_R023_Fund managers: TOTAL (7)',
 'L_T1-2_R024_Otherg: TOTAL (7)',
 'L_T1-2_R025_Private non-financial corporate sector: TOTAL (7)',
 'L_T1-2_R026_Unincorporated business enterprises: TOTAL (7)',
 'L_T1-2_R027_Households: TOTAL (7)',
 'L_T1-2_R028_Non-profit organisations serving households and other: TOTAL (7)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): TOTAL (7)',
 'L_T1-2_R030_Banks - including foreign group funding: TOTAL (7)',
 'L_T1-2_R031_Other non-residents: TOTAL (7)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): TOTAL (7)',
 'L_T1-2_R033_SA banksb: TOTAL (7)',
 'L_T1-2_R034_SA Central and provincial government: TOTAL (7)',
 'L_T1-2_R035_SA Household sector: TOTAL (7)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): TOTAL (7)',
 'L_T1-2_R036_SA Financial corporate sectorc: TOTAL (7)',
 'L_T1-2_R037_SA Non-financial corporate sector and otherd: TOTAL (7)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): TOTAL (7)',
 'L_T1-2_R039_Banks: TOTAL (7)',
 'L_T1-2_R040_Other non-residents: TOTAL (7)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): TOTAL (4)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): TOTAL (4)',
 'L_T3-4_R043_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R044_SA banksb: TOTAL (4)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): TOTAL (4)',
 'L_T3-4_R045_Insurersg: TOTAL (4)',
 'L_T3-4_R046_Pension funds: TOTAL (4)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): TOTAL (4)',
 'L_T3-4_R047_Other financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R048_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R049_Foreign sector: TOTAL (4)',
 'L_T3-4_R050_Other: TOTAL (4)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): TOTAL (4)',
 'L_T3-4_R052_SA banksb: TOTAL (4)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): TOTAL (4)',
 'L_T3-4_R053_Financial corporate sectore: TOTAL (4)',
 'L_T3-4_R054_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R055_Foreign sector: TOTAL (4)',
 'L_T3-4_R056_Other: TOTAL (4)',
 'L_T3-4_R057_Otherf: TOTAL (4)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): TOTAL (4)',
 'L_T3-4_R059_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R060_SA banksb: TOTAL (4)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): TOTAL (4)',
 'L_T3-4_R061_SA Financial corporate sectord: TOTAL (4)',
 'L_T3-4_R062_SA Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R063_Foreign sector: Other foreign funding: TOTAL (4)',
 'L_T3-4_R064_Original maturity of one year and less: TOTAL (4)',
 'L_T3-4_R065_Original maturity of more than one year: TOTAL (4)',
 'L_T3-4_R066_Other: TOTAL (4)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): TOTAL (4)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): TOTAL (4)',
 'L_T3-4_R069_SA banksb: TOTAL (4)',
 'L_T3-4_R070_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R071_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R072_Foreign sector: TOTAL (4)',
 'L_T3-4_R073_Credits in transit: TOTAL (4)',
 'L_T3-4_R074_Other (total of items 75 and 76): TOTAL (4)',
 'L_T3-4_R075_Financial corporate sector: TOTAL (4)',
 'L_T3-4_R076_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R077_Foreign sector: TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Short-term (1)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Medium-term (2)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Long-term (3)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Of which :  in foreign currency (5)',
 'L_T3-4_R079_OUTSTANDING LIABILITIES ON BEHALF OF CLIENTS per contra item 268: TOTAL (4)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): TOTAL (4)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): TOTAL (4)',
 'L_T3-4_R082_SA banksb and other monetary institutionsd: TOTAL (4)',
 'L_T3-4_R083_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R084_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R085_Liabilities i.r.o derivative instruments : to foreign sector: TOTAL (4)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): TOTAL (4)',
 'L_T3-4_R087_SA banksb: TOTAL (4)',
 'L_T3-4_R088_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R089_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R090_Other trading liabilities (excluding derivatives): to foreign sector: TOTAL (4)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): TOTAL (4)',
 'L_T3-4_R092_Tax (current and deferred): TOTAL (4)',
 'L_T3-4_R093_Other: TOTAL (4)',
 'L_T3-4_R094_Other liabilities: to foreign sector: TOTAL (4)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Short-term (1)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Medium-term (2)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Long-term (3)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): TOTAL (4)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Of which :  in foreign currency (5)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): TOTAL (1)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: liabilities to the foreign sector (2)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: in foreign currency (included in col 1 ) (3)',
 'E_T5_R097_Share capital (total of items 98 to 100): TOTAL (1)',
 'E_T5_R098_Banksb: TOTAL (1)',
 'E_T5_R099_Financial corporate sectorc: TOTAL (1)',
 'E_T5_R100_Non-financial corporate sector and other: TOTAL (1)',
 'E_T5_R101_Other reserves: TOTAL (1)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): TOTAL (1)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: liabilities to the foreign sector (2)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: in foreign currency (included in col 1 ) (3)',
 'A_T6-13_R103_CENTRAL BANK MONEY AND GOLD (total of items 104 to 106): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R104_South African bank notes and subsidiary coin: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R105_Gold coin and bullion: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R106_Domestic currency deposits with SA Reserve Bank (total of items 107 to 109): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R107_Cash reserve deposits: Interest bearing: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R108_Cash reserve deposits: Non-interest bearing: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R109_Other deposits: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R110_DEPOSITS LOANS AND ADVANCES (total of items 111 117 118 126 135 139 150 166 171 and 180 less item 194): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R111_SA banksb (total of items 112 and 116): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R112_NCDs/PNsc issued by banks with an unexpired maturity of: (total of items 113 to 115): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R113_Up to 1 month: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R114_More than 1 month to 6 months: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R115_More than 6 months: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R116_Other deposits with and loans and advances to SA banksb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R117_Deposits with and loans and advances to foreign banks denominated in rand: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R118_Loans granted under resale agreements to: (total of items 119 to 125): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R119_SA Reserve Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R120_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1210_Financial and non-financial and other (total 121122123124125): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R121_Insurers: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R122_Pension funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R123_Other financial corporate sectorb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R124_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R125_Other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R126_Foreign currency loans and advances (total of items 127 to 130 133 and 134): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R127_Foreign currency notes and coin: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R128_Deposits with and advances to SA Reserve Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R129_Deposits with and advances to SA banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R130_Other advances to: (total of items 131 and 132): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R131_SA Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R132_SA Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R133_Deposits with and advances to foreign banks: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R134_Other advances to foreign sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R135_Redeemable preference shares issued by: (total items 136 to 138): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R136_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1370_Financial and non fin corporate sectorc (total 137138): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R137_Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R138_Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R139_Instalment debtors suspensive sales and leases (total of items 140 and 145): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R140_Instalment sales (total of items 141 to 144): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R141_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R142_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R143_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R144_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R145_Leasing transactions (total of items 146 to 149): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R146_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R147_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R148_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R149_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R150_Mortgage advances (total of items 151 155 and 159): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R151_Farm mortgages: (total of items 152 to 154): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R152_Corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R153_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R154_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R155_Residential mortgages: (total of items 156 to 158): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R156_Corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R157_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R158_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R159_Commercial and other mortgage advances: (total of items 160 to 165): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1600_Public financial and non-fin corporate sector (total 160161): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R160_Public financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R161_Public non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1620_Private financial and non-financial corporate sector (total 162163): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R162_Private financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R163_Private non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R164_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R165_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R166_Credit-card debtors (total of items 167 to 170): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1670_Financial and nonfin corporate sector and other (total 167168): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R167_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R168_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R169_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R170_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R171_Overdrafts loans and advances: public sector (total of items 172 to 179): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R172_Central government of the Republic (excluding social security funds): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R173_Social security funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R174_Provincial governments: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R175_Local government: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R176_Land Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R177_Other public financial corporate sector (such as IDC)c: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R178_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R179_Foreign public sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R180_Overdrafts loans and advances: private sector (total of items 181 187 and 188): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R181_Overdrafts including overdrafts under cash-management schemes: (total of items 182 to 186): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R182_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R183_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R184_Unincorporated business enterprises of households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R185_Households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R186_Non-profit organisations serving households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R187_Factoring debtors: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R188_Other loans and advances: (total of items 189 to 193): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R189_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R190_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R191_Unincorporated business enterprises of households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R192_Households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R193_Non-profit organisations serving households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R194_Less: credit impairments in respect of loans and advances: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R195_INVESTMENTS AND BILLS including trading portfolio assets (total of items 196 207 213 217 221 225 229 233 237 241 and 246 less item 245): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R196_Interest-bearing central or provincial government securities (total of items 197 198 and 203 to 206): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R197_Non-marketable government stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R198_Marketable government stock (total of item 199 and 201): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R199_Unexpired maturity of up to 3 years: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R200_Memo: Nominal value of such stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R201_Unexpired maturity of more than 3 years: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R202_Memo: Nominal value of such stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R203_Government loan levies: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R204_Securities of provincial governments: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R205_Securities of social security funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R206_Securities of other central government institutionse: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R207_Other public-sector interest-bearing securities (total of items 208 to 212): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R208_SA Reserve Bank debentures: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R209_Securities (including debentures) issued by the Land Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R210_Securities issued by other public financial corporate sectorb (such as IDC DBSA): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R211_Securities issued by public non-financial corporate sector (such as Transnet and Eskom): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R212_Securities of local authorities: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R213_Debentures and other interest bearing security investments of private sector (total of items 214 to 216): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R214_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2150_Financial and non fin corp sector and other (total 215216): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R215_Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R216_Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2170_Equity holdings in subsidiaries and associates (total of items 217 221): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R217_Equity holdings in subsidiaries (total of items 218 to 220): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2180_Banks(total 218 and 222): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R218_Banksc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2190_Financial and non-finan corp sector (total (219+220+223+224): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R219_Financial corporate sectorb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R220_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',

It is clear from the above that the columns containing enough

aggregated information are tagged with `(total of items ...)`

so this can be filtered

In [296]:
test = absa.loc[absa["Table"].str.contains("TOTAL"),:]
list(test.iloc[:,1])

['L_T1-2_R001_DEPOSITS (total of items 2 and 32): TOTAL (7)',
 'L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (total of items 3 6 12 13 and 29): TOTAL (7)',
 'L_T1-2_R003_SA banksb (total of items 4 and 5): TOTAL (7)',
 'L_T1-2_R004_NCDs/PNsi: TOTAL (7)',
 'L_T1-2_R005_Other deposits: TOTAL (7)',
 'L_T1-2_R006_Central and provincial government sector depositsc (total of items 7 10 and 11): TOTAL (7)',
 'L_T1-2_R007_Central government of the Republic (total of items 8 and 9): TOTAL (7)',
 'L_T1-2_R008_Tax and loan account: TOTAL (7)',
 'L_T1-2_R009_Other: TOTAL (7)',
 'L_T1-2_R010_Provincial governments: TOTAL (7)',
 'L_T1-2_R011_Social security funds: TOTAL (7)',
 'L_T1-2_R012_Other monetary institutionsh: TOTAL (7)',
 'L_T1-2_R013_Other domestic parties (total of items 14 to 20 25 26 27 and 28): TOTAL (7)',
 'L_T1-2_R014_Local government: TOTAL (7)',
 'L_T1-2_R015_Public financial corporate sectord (such as IDC DBSA): TOTAL (7)',
 'L_T1-2_R016_Public Investment Corporation (PIC): TOTAL (7)',
 'L_T1-2_R017_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL (7)',
 'L_T1-2_R018_Insurersf: TOTAL (7)',
 'L_T1-2_R019_Pension funds: TOTAL (7)',
 'L_T1-2_R020_Private financial corporate sectore (total of items 21 to 24): TOTAL (7)',
 'L_T1-2_R021_Money-market unit trusts: TOTAL (7)',
 'L_T1-2_R022_Other unit trusts: TOTAL (7)',
 'L_T1-2_R023_Fund managers: TOTAL (7)',
 'L_T1-2_R024_Otherg: TOTAL (7)',
 'L_T1-2_R025_Private non-financial corporate sector: TOTAL (7)',
 'L_T1-2_R026_Unincorporated business enterprises: TOTAL (7)',
 'L_T1-2_R027_Households: TOTAL (7)',
 'L_T1-2_R028_Non-profit organisations serving households and other: TOTAL (7)',
 'L_T1-2_R029_Foreign sector (total of items 30 and 31): TOTAL (7)',
 'L_T1-2_R030_Banks - including foreign group funding: TOTAL (7)',
 'L_T1-2_R031_Other non-residents: TOTAL (7)',
 'L_T1-2_R032_DEPOSITS DENOMINATED IN FOREIGN CURRENCY (total of items 33 to 38): TOTAL (7)',
 'L_T1-2_R033_SA banksb: TOTAL (7)',
 'L_T1-2_R034_SA Central and provincial government: TOTAL (7)',
 'L_T1-2_R035_SA Household sector: TOTAL (7)',
 'L_T1-2_R360_Financial and non-financial corporate sector and other (total 3637): TOTAL (7)',
 'L_T1-2_R036_SA Financial corporate sectorc: TOTAL (7)',
 'L_T1-2_R037_SA Non-financial corporate sector and otherd: TOTAL (7)',
 'L_T1-2_R038_Foreign sector (total of items 39 and 40): TOTAL (7)',
 'L_T1-2_R039_Banks: TOTAL (7)',
 'L_T1-2_R040_Other non-residents: TOTAL (7)',
 'L_T3-4_R041_OTHER BORROWED FUNDS (total of items 42 51 and 57): TOTAL (4)',
 'L_T3-4_R042_Loans received under repurchase transactions (total of items 43 to 50): TOTAL (4)',
 'L_T3-4_R043_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R044_SA banksb: TOTAL (4)',
 'L_T3-4_R450_Insurers and pensionfunds (total 4546): TOTAL (4)',
 'L_T3-4_R045_Insurersg: TOTAL (4)',
 'L_T3-4_R046_Pension funds: TOTAL (4)',
 'L_T3-4_R470_Financial and non-financial corporate sector and other (total 474850): TOTAL (4)',
 'L_T3-4_R047_Other financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R048_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R049_Foreign sector: TOTAL (4)',
 'L_T3-4_R050_Other: TOTAL (4)',
 'L_T3-4_R051_Collateralised borrowing (total of items 52 to 56): TOTAL (4)',
 'L_T3-4_R052_SA banksb: TOTAL (4)',
 'L_T3-4_R530_Financial corporate and non finan corporate and other (total 53+54+56): TOTAL (4)',
 'L_T3-4_R053_Financial corporate sectore: TOTAL (4)',
 'L_T3-4_R054_Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R055_Foreign sector: TOTAL (4)',
 'L_T3-4_R056_Other: TOTAL (4)',
 'L_T3-4_R057_Otherf: TOTAL (4)',
 'L_T3-4_R058_FOREIGN CURRENCY FUNDING (total of items 59 to 63 and 66): TOTAL (4)',
 'L_T3-4_R059_SA Reserve Bank and Corporation for Public Deposits: TOTAL (4)',
 'L_T3-4_R060_SA banksb: TOTAL (4)',
 'L_T3-4_R610_Financial and non fin corporate sector and other (total 616266): TOTAL (4)',
 'L_T3-4_R061_SA Financial corporate sectord: TOTAL (4)',
 'L_T3-4_R062_SA Non-financial corporate sector: TOTAL (4)',
 'L_T3-4_R063_Foreign sector: Other foreign funding: TOTAL (4)',
 'L_T3-4_R064_Original maturity of one year and less: TOTAL (4)',
 'L_T3-4_R065_Original maturity of more than one year: TOTAL (4)',
 'L_T3-4_R066_Other: TOTAL (4)',
 'L_T3-4_R067_OTHER LIABILITIES TO THE PUBLIC (total of items 68 73 74 and 77): TOTAL (4)',
 'L_T3-4_R068_Debt securities: (total of items 69 to 72): TOTAL (4)',
 'L_T3-4_R069_SA banksb: TOTAL (4)',
 'L_T3-4_R070_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R071_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R072_Foreign sector: TOTAL (4)',
 'L_T3-4_R073_Credits in transit: TOTAL (4)',
 'L_T3-4_R074_Other (total of items 75 and 76): TOTAL (4)',
 'L_T3-4_R075_Financial corporate sector: TOTAL (4)',
 'L_T3-4_R076_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R077_Foreign sector: TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Short-term (1)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Medium-term (2)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Long-term (3)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Of which :  in foreign currency (5)',
 'L_T3-4_R079_OUTSTANDING LIABILITIES ON BEHALF OF CLIENTS per contra item 268: TOTAL (4)',
 'L_T3-4_R080_OTHER LIABILITIES (total of items 81 85 86 90 91 and 94): TOTAL (4)',
 'L_T3-4_R081_Liabilities i.r.o derivative instruments: to domestic sector (total of items 82 to 84): TOTAL (4)',
 'L_T3-4_R082_SA banksb and other monetary institutionsd: TOTAL (4)',
 'L_T3-4_R083_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R084_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R085_Liabilities i.r.o derivative instruments : to foreign sector: TOTAL (4)',
 'L_T3-4_R086_Other trading liabilities (excluding derivatives): to domestic sector (total of items 87 to 89): TOTAL (4)',
 'L_T3-4_R087_SA banksb: TOTAL (4)',
 'L_T3-4_R088_Financial corporate sectorc: TOTAL (4)',
 'L_T3-4_R089_Non-financial corporate sector and other: TOTAL (4)',
 'L_T3-4_R090_Other trading liabilities (excluding derivatives): to foreign sector: TOTAL (4)',
 'L_T3-4_R091_Other liabilities: to domestic sector (total of items 92 and 93): TOTAL (4)',
 'L_T3-4_R092_Tax (current and deferred): TOTAL (4)',
 'L_T3-4_R093_Other: TOTAL (4)',
 'L_T3-4_R094_Other liabilities: to foreign sector: TOTAL (4)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Short-term (1)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Medium-term (2)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Long-term (3)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): TOTAL (4)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Of which :  in foreign currency (5)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): TOTAL (1)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: liabilities to the foreign sector (2)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: in foreign currency (included in col 1 ) (3)',
 'E_T5_R097_Share capital (total of items 98 to 100): TOTAL (1)',
 'E_T5_R098_Banksb: TOTAL (1)',
 'E_T5_R099_Financial corporate sectorc: TOTAL (1)',
 'E_T5_R100_Non-financial corporate sector and other: TOTAL (1)',
 'E_T5_R101_Other reserves: TOTAL (1)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): TOTAL (1)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: liabilities to the foreign sector (2)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: in foreign currency (included in col 1 ) (3)',
 'A_T6-13_R103_CENTRAL BANK MONEY AND GOLD (total of items 104 to 106): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R104_South African bank notes and subsidiary coin: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R105_Gold coin and bullion: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R106_Domestic currency deposits with SA Reserve Bank (total of items 107 to 109): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R107_Cash reserve deposits: Interest bearing: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R108_Cash reserve deposits: Non-interest bearing: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R109_Other deposits: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R110_DEPOSITS LOANS AND ADVANCES (total of items 111 117 118 126 135 139 150 166 171 and 180 less item 194): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R111_SA banksb (total of items 112 and 116): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R112_NCDs/PNsc issued by banks with an unexpired maturity of: (total of items 113 to 115): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R113_Up to 1 month: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R114_More than 1 month to 6 months: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R115_More than 6 months: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R116_Other deposits with and loans and advances to SA banksb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R117_Deposits with and loans and advances to foreign banks denominated in rand: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R118_Loans granted under resale agreements to: (total of items 119 to 125): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R119_SA Reserve Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R120_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1210_Financial and non-financial and other (total 121122123124125): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R121_Insurers: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R122_Pension funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R123_Other financial corporate sectorb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R124_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R125_Other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R126_Foreign currency loans and advances (total of items 127 to 130 133 and 134): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R127_Foreign currency notes and coin: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R128_Deposits with and advances to SA Reserve Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R129_Deposits with and advances to SA banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R130_Other advances to: (total of items 131 and 132): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R131_SA Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R132_SA Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R133_Deposits with and advances to foreign banks: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R134_Other advances to foreign sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R135_Redeemable preference shares issued by: (total items 136 to 138): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R136_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1370_Financial and non fin corporate sectorc (total 137138): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R137_Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R138_Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R139_Instalment debtors suspensive sales and leases (total of items 140 and 145): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R140_Instalment sales (total of items 141 to 144): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R141_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R142_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R143_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R144_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R145_Leasing transactions (total of items 146 to 149): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R146_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R147_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R148_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R149_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R150_Mortgage advances (total of items 151 155 and 159): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R151_Farm mortgages: (total of items 152 to 154): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R152_Corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R153_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R154_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R155_Residential mortgages: (total of items 156 to 158): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R156_Corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R157_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R158_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R159_Commercial and other mortgage advances: (total of items 160 to 165): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1600_Public financial and non-fin corporate sector (total 160161): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R160_Public financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R161_Public non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1620_Private financial and non-financial corporate sector (total 162163): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R162_Private financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R163_Private non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R164_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R165_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R166_Credit-card debtors (total of items 167 to 170): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R1670_Financial and nonfin corporate sector and other (total 167168): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R167_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R168_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R169_Household sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R170_Otherb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R171_Overdrafts loans and advances: public sector (total of items 172 to 179): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R172_Central government of the Republic (excluding social security funds): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R173_Social security funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R174_Provincial governments: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R175_Local government: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R176_Land Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R177_Other public financial corporate sector (such as IDC)c: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R178_Public non-financial corporate sector (such as Transnet Eskom and Telkom): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R179_Foreign public sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R180_Overdrafts loans and advances: private sector (total of items 181 187 and 188): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R181_Overdrafts including overdrafts under cash-management schemes: (total of items 182 to 186): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R182_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R183_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R184_Unincorporated business enterprises of households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R185_Households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R186_Non-profit organisations serving households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R187_Factoring debtors: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R188_Other loans and advances: (total of items 189 to 193): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R189_Financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R190_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R191_Unincorporated business enterprises of households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R192_Households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R193_Non-profit organisations serving households: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R194_Less: credit impairments in respect of loans and advances: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R195_INVESTMENTS AND BILLS including trading portfolio assets (total of items 196 207 213 217 221 225 229 233 237 241 and 246 less item 245): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R196_Interest-bearing central or provincial government securities (total of items 197 198 and 203 to 206): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R197_Non-marketable government stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R198_Marketable government stock (total of item 199 and 201): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R199_Unexpired maturity of up to 3 years: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R200_Memo: Nominal value of such stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R201_Unexpired maturity of more than 3 years: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R202_Memo: Nominal value of such stock: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R203_Government loan levies: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R204_Securities of provincial governments: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R205_Securities of social security funds: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R206_Securities of other central government institutionse: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R207_Other public-sector interest-bearing securities (total of items 208 to 212): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R208_SA Reserve Bank debentures: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R209_Securities (including debentures) issued by the Land Bank: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R210_Securities issued by other public financial corporate sectorb (such as IDC DBSA): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R211_Securities issued by public non-financial corporate sector (such as Transnet and Eskom): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R212_Securities of local authorities: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R213_Debentures and other interest bearing security investments of private sector (total of items 214 to 216): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R214_Banksd: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2150_Financial and non fin corp sector and other (total 215216): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R215_Financial corporate sectorc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R216_Non-financial corporate sector and other: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2170_Equity holdings in subsidiaries and associates (total of items 217 221): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R217_Equity holdings in subsidiaries (total of items 218 to 220): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2180_Banks(total 218 and 222): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R218_Banksc: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R2190_Financial and non-finan corp sector (total (219+220+223+224): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R219_Financial corporate sectorb: TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R220_Non-financial corporate sector: TOTAL ASSETS (Col 1 plus col 3) (5)',

In [297]:
test = test.loc[test["Table"].str.contains("[(]total of items ", regex=True), ["Table"]]
test.head()

                                                Table
7   L_T1-2_R001_DEPOSITS (total of items 2 and 32)...
16  L_T1-2_R002_DEPOSITS DENOMINATED IN RAND (tota...
25  L_T1-2_R003_SA banksb (total of items 4 and 5)...
52  L_T1-2_R006_Central and provincial government ...
61  L_T1-2_R007_Central government of the Republic...

In [298]:
dups = test["Table"].str.replace(".*(R[0-9]{3}).*", regex=True, repl=r"\1").duplicated()
dups

7       False
16      False
25      False
52      False
61      False
        ...
2069     True
2070     True
2071     True
2072     True
2073     True
Name: Table, Length: 85, dtype: bool

In [299]:
# These can all be removed since they are the totals of collections of previous
# totals in the dataframe
list(test.loc[dups,:]["Table"])

['L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Medium-term (2)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Long-term (3)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): TOTAL (4)',
 'L_T3-4_R078_TOTAL LIABILITIES TO THE PUBLIC (total of items 1 41 58 and 67): Of which :  in foreign currency (5)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Medium-term (2)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Long-term (3)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): TOTAL (4)',
 'L_T3-4_R095_TOTAL LIABILITIES (total of items 78 to 80): Of which :  in foreign currency (5)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: liabilities to the foreign sector (2)',
 'E_T5_R096_TOTAL EQUITY (total of items 97 and 101): Of which: in foreign currency (included in col 1 ) (3)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: liabilities to the foreign sector (2)',
 'E_T5_R102_TOTAL EQUITY AND LIABILITIES (total of items 95 and 96): Of which: in foreign currency (included in col 1 ) (3)',
 'A_T6-13_R217_Equity holdings in subsidiaries (total of items 218 to 220): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R277_TOTAL ASSETS (total of items 103 110 195 258 and 267): Domestic assets: Of which: foreign currency (2)',
 'A_T6-13_R277_TOTAL ASSETS (total of items 103 110 195 258 and 267): Foreign assets (3)',
 'A_T6-13_R277_TOTAL ASSETS (total of items 103 110 195 258 and 267): Foreign assets: Of which: foreign currency (4)',
 'A_T6-13_R277_TOTAL ASSETS (total of items 103 110 195 258 and 267): TOTAL ASSETS (Col 1 plus col 3) (5)',
 'A_T6-13_R277_TOTAL ASSETS (total of items 103 110 195 258 and 267): Of which: under repurchase agreements (6)']

In [300]:
df = absa

In [301]:
def filter_totals(df):
    df = df.loc[df["Table"].str.contains("TOTAL"),:]
    df = df.loc[df["Table"].str.contains("[(]total of items ", regex=True), :]
    dups = df["Table"].str.replace(".*(R[0-9]{3}).*", regex=True, repl=r"\1").duplicated()
    df = df.loc[~dups,:]
    return(df)

In [302]:
df

,Bank,Table,1993M01,1993M02,1993M03,1993M04,1993M05,1993M06,1993M07,1993M08,...,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04
1,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,9588342.0,11392410.0,10668670.0,11432864.0,11014770.0,11042960.0,10561166.0,12471006.0,...,218471395.0,209031404.0,215453291.0,214590582.0,218067373.0,230444938.0,202177025.0,208657411.0,221079725.0,220710857.0
2,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,7800740.0,7555104.0,7670861.0,7780098.0,7756258.0,7709445.0,7722106.0,7613571.0,...,219810888.0,219708150.0,219832044.0,220612457.0,224095757.0,225800105.0,223125550.0,216880586.0,216446346.0,218785374.0
3,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,8946659.0,6782139.0,9577124.0,8180529.0,7692343.0,8151043.0,8020508.0,8174811.0,...,140121157.0,160037358.0,164035947.0,167933686.0,181585523.0,150430271.0,171484466.0,174135086.0,172916558.0,164697147.0
4,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,9417927.0,9651219.0,9436300.0,9473765.0,9701689.0,9933172.0,9589893.0,9227178.0,...,78737825.0,59329833.0,60904840.0,66533680.0,60978989.0,81578456.0,68695763.0,65715791.0,63862009.0,85939653.0
5,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,21301640.0,19636868.0,18328838.0,17065947.0,16792250.0,16847682.0,17196235.0,16287624.0,...,115411994.0,114107539.0,115562156.0,115253808.0,124818553.0,122143067.0,118478176.0,119878691.0,115171793.0,113965361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,Absa_Bank_Ltd,A_T6-13_R277_TOTAL ASSETS (total of items 103 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2070,Absa_Bank_Ltd,A_T6-13_R277_TOTAL ASSETS (total of items 103 ...,937881.0,839061.0,812196.0,504627.0,950088.0,814981.0,409169.0,370140.0,...,52670911.0,53912565.0,55315248.0,54637880.0,57076273.0,55828960.0,58033424.0,60998142.0,57034200.0,59875968.0
2071,Absa_Bank_Ltd,A_T6-13_R277_TOTAL ASSETS (total of items 103 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2072,Absa_Bank_Ltd,A_T6-13_R277_TOTAL ASSETS (total of items 103 ...,79593628.0,81404394.0,81034337.0,78063262.0,77755058.0,78371846.0,77567705.0,79331923.0,...,127733124.0,127216868.0,121372441.0,119401796.0,117699282.0,108863961.0,102269580.0,115017291.0,120936069.0,124521793.0
2073,Absa_Bank_Ltd,A_T6-13_R277_TOTAL ASSETS (total of items 103 ...,NaN,NaN,NaN,51000.0,NaN,67000.0,76000.0,81000.0,...,91711228.0,87487323.0,87089782.0,81485913.0,89946529.0,81793644.0,75291286.0,82778946.0,84001026.0,86595323.0

In [303]:
absa = filter_totals(absa)

In [304]:
InteractiveShell.ast_node_interactivity = "all"

In [305]:
absa.head(1)
absa.info()

,Bank,Table,1993M01,1993M02,1993M03,1993M04,1993M05,1993M06,1993M07,1993M08,...,2021M07,2021M08,2021M09,2021M10,2021M11,2021M12,2022M01,2022M02,2022M03,2022M04
7,Absa_Bank_Ltd,L_T1-2_R001_DEPOSITS (total of items 2 and 32)...,66036932.0,65948319.0,66446620.0,64813147.0,64317315.0,65148147.0,64450271.0,66006474.0,...,987428308.0,978982466.0,990882087.0,1.002621e+09,1.026975e+09,1.025364e+09,997923770.0,1.011085e+09,1.022591e+09,1.048495e+09

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 7 to 2068
Columns: 353 entries, Bank to  2022M04
dtypes: float64(351), object(2)
memory usage: 185.3+ KB

In [306]:
InteractiveShell.ast_node_interactivity = "last"

In [307]:
def reformat(df):
    df = df.drop("Bank", axis=1)
    df = df.set_index("Table").T
    df.columns.name = None
    df.index.name = "Date"
    df.index = pd.to_datetime(df.index, format=" %YM%m")
    df.columns = df.columns.str.replace(pat=" ", repl="_")
    df.columns = df.columns.str.replace(pat="total_of_items", repl="tot")
    df = df.apply(pd.to_numeric)
    
    return(df)

In [308]:
absa = reformat(absa)

In [309]:
absa.head(1)

,L_T1-2_R001_DEPOSITS_(tot_2_and_32):_TOTAL_(7),L_T1-2_R002_DEPOSITS_DENOMINATED_IN_RAND_(tot_3_6_12_13_and_29):_TOTAL_(7),L_T1-2_R003_SA_banksb_(tot_4_and_5):_TOTAL_(7),L_T1-2_R006_Central_and_provincial_government_sector_depositsc_(tot_7_10_and_11):_TOTAL_(7),L_T1-2_R007_Central_government_of_the_Republic_(tot_8_and_9):_TOTAL_(7),L_T1-2_R013_Other_domestic_parties_(tot_14_to_20_25_26_27_and_28):_TOTAL_(7),L_T1-2_R020_Private_financial_corporate_sectore_(tot_21_to_24):_TOTAL_(7),L_T1-2_R029_Foreign_sector_(tot_30_and_31):_TOTAL_(7),L_T1-2_R032_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_(tot_33_to_38):_TOTAL_(7),L_T1-2_R038_Foreign_sector_(tot_39_and_40):_TOTAL_(7),...,A_T6-13_R246_Acceptances_commercial_paper_bills_promissory_notes_and_similar_acknowledgements_of_debt_discounted_or_purchased_(tot_247_250_to_254_and_257):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R247_Bankers'_acceptances_(tot_248_and_249):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R254_Land_Bank_bills_(tot_255_and_256):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R258_NON-FINANCIAL_ASSETS_(tot_259_and_264):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R259_Tangible_assets_(tot_260_to_263):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R264_Intangible_assets_(tot_265_and_266):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R267_OTHER_ASSETS_(tot_268_to_272_and_276):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R268_Clients'_liabilities_per_contra_(tot_280_to_283):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R272_Assets_acquired_or_bought_in_to_protect_an_advance_or_investment_(tot_273_to_275):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R277_TOTAL_ASSETS_(tot_103_110_195_258_and_267):_Domestic_assets_(1)
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-01,66036932.0,66034650.0,9340101.0,1238972.0,1023743.0,54180359.0,NaN,1275218.0,2282.0,2282.0,...,122004.0,NaN,NaN,1541557.0,1173537.0,NaN,5228902.0,3577948.0,NaN,78655747.0

In [310]:
absa.iloc[:,absa.columns.str.startswith(("L_"))]

,L_T1-2_R001_DEPOSITS_(tot_2_and_32):_TOTAL_(7),L_T1-2_R002_DEPOSITS_DENOMINATED_IN_RAND_(tot_3_6_12_13_and_29):_TOTAL_(7),L_T1-2_R003_SA_banksb_(tot_4_and_5):_TOTAL_(7),L_T1-2_R006_Central_and_provincial_government_sector_depositsc_(tot_7_10_and_11):_TOTAL_(7),L_T1-2_R007_Central_government_of_the_Republic_(tot_8_and_9):_TOTAL_(7),L_T1-2_R013_Other_domestic_parties_(tot_14_to_20_25_26_27_and_28):_TOTAL_(7),L_T1-2_R020_Private_financial_corporate_sectore_(tot_21_to_24):_TOTAL_(7),L_T1-2_R029_Foreign_sector_(tot_30_and_31):_TOTAL_(7),L_T1-2_R032_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_(tot_33_to_38):_TOTAL_(7),L_T1-2_R038_Foreign_sector_(tot_39_and_40):_TOTAL_(7),...,L_T3-4_R058_FOREIGN_CURRENCY_FUNDING_(tot_59_to_63_and_66):_TOTAL_(4),L_T3-4_R067_OTHER_LIABILITIES_TO_THE_PUBLIC_(tot_68_73_74_and_77):_TOTAL_(4),L_T3-4_R068_Debt_securities:_(tot_69_to_72):_TOTAL_(4),L_T3-4_R074_Other_(tot_75_and_76):_TOTAL_(4),L_T3-4_R078_TOTAL_LIABILITIES_TO_THE_PUBLIC_(tot_1_41_58_and_67):_Short-term_(1),L_T3-4_R080_OTHER_LIABILITIES_(tot_81_85_86_90_91_and_94):_TOTAL_(4),L_T3-4_R081_Liabilities_i.r.o_derivative_instruments:_to_domestic_sector_(tot_82_to_84):_TOTAL_(4),L_T3-4_R086_Other_trading_liabilities_(excluding_derivatives):_to_domestic_sector_(tot_87_to_89):_TOTAL_(4),L_T3-4_R091_Other_liabilities:_to_domestic_sector_(tot_92_and_93):_TOTAL_(4),L_T3-4_R095_TOTAL_LIABILITIES_(tot_78_to_80):_Short-term_(1)
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-01,6.603693e+07,66034650.0,9340101.0,1238972.0,1023743.0,54180359.0,NaN,1275218.0,2282.0,2282.0,...,3914415.0,890830.0,NaN,432645.0,38199384.0,48375.0,NaN,NaN,48375.0,41825706.0
1993-02-01,6.594832e+07,65946508.0,7342899.0,1153121.0,883687.0,56171183.0,NaN,1279305.0,1811.0,1811.0,...,4011103.0,1163403.0,NaN,421806.0,38708005.0,409408.0,NaN,NaN,409408.0,42428505.0
1993-03-01,6.644662e+07,66444850.0,7094763.0,2424744.0,2202394.0,55828437.0,NaN,1096906.0,1770.0,1770.0,...,4324758.0,999009.0,NaN,761229.0,40502925.0,40645.0,NaN,NaN,40645.0,43994752.0
1993-04-01,6.481315e+07,64811391.0,5858248.0,1222010.0,956580.0,56569531.0,NaN,1161602.0,1756.0,1756.0,...,3858337.0,941248.0,NaN,583016.0,39037928.0,39945.0,NaN,NaN,39945.0,42171610.0
1993-05-01,6.431732e+07,64315553.0,4455192.0,1452509.0,1140486.0,56186211.0,NaN,1170514.0,1762.0,1762.0,...,4043798.0,1500329.0,NaN,899079.0,38184397.0,47131.0,NaN,NaN,47131.0,41107367.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,1.025364e+09,969525149.0,74043961.0,84466156.0,72963540.0,777565198.0,154672857.0,13455772.0,55838418.0,19556815.0,...,86112.0,65220729.0,60874922.0,0.0,765032283.0,89087148.0,28579204.0,21146258.0,15053098.0,834200962.0
2022-01-01,9.979238e+08,942489021.0,76540882.0,60756325.0,49547141.0,766702422.0,157463170.0,15710556.0,55434749.0,17981285.0,...,83140.0,62932589.0,59891887.0,0.0,742181990.0,88157362.0,23261773.0,21147825.0,20445284.0,804531069.0
2022-02-01,1.011085e+09,955334991.0,83899831.0,58478887.0,47578108.0,776108179.0,160886115.0,12397194.0,55750362.0,19490661.0,...,129230.0,62710912.0,59864949.0,0.0,757025034.0,90975660.0,23959742.0,21209727.0,26563602.0,819278316.0
2022-03-01,1.022591e+09,970112283.0,82881639.0,60095060.0,50107072.0,791864419.0,169637210.0,12753889.0,52478855.0,18369705.0,...,120278.0,61256220.0,57653124.0,0.0,757564804.0,104419699.0,25560539.0,23046067.0,20686142.0,832970081.0
2022-04-01,1.048495e+09,988817329.0,77619377.0,63161974.0,48373148.0,815610142.0,186938474.0,12008577.0,59677991.0,22928374.0,...,126346.0,61737887.0,58459420.0,0.0,768132616.0,97783943.0,25135749.0,23699772.0,17110313.0,838911719.0

In [311]:
def liabilities(df):
    df = df.iloc[:,df.columns.str.startswith(("L_"))]
    return(df)

def equity(df):
    df = df.iloc[:,df.columns.str.startswith(("E_"))]
    return(df)

def assets(df):
    df = df.iloc[:,df.columns.str.startswith(("A_"))]
    return(df)

In [312]:
absa_l = liabilities(absa)
absa_e = equity(absa)
absa_a = assets(absa)

In [313]:
absa_l.head(1)

,L_T1-2_R001_DEPOSITS_(tot_2_and_32):_TOTAL_(7),L_T1-2_R002_DEPOSITS_DENOMINATED_IN_RAND_(tot_3_6_12_13_and_29):_TOTAL_(7),L_T1-2_R003_SA_banksb_(tot_4_and_5):_TOTAL_(7),L_T1-2_R006_Central_and_provincial_government_sector_depositsc_(tot_7_10_and_11):_TOTAL_(7),L_T1-2_R007_Central_government_of_the_Republic_(tot_8_and_9):_TOTAL_(7),L_T1-2_R013_Other_domestic_parties_(tot_14_to_20_25_26_27_and_28):_TOTAL_(7),L_T1-2_R020_Private_financial_corporate_sectore_(tot_21_to_24):_TOTAL_(7),L_T1-2_R029_Foreign_sector_(tot_30_and_31):_TOTAL_(7),L_T1-2_R032_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_(tot_33_to_38):_TOTAL_(7),L_T1-2_R038_Foreign_sector_(tot_39_and_40):_TOTAL_(7),...,L_T3-4_R058_FOREIGN_CURRENCY_FUNDING_(tot_59_to_63_and_66):_TOTAL_(4),L_T3-4_R067_OTHER_LIABILITIES_TO_THE_PUBLIC_(tot_68_73_74_and_77):_TOTAL_(4),L_T3-4_R068_Debt_securities:_(tot_69_to_72):_TOTAL_(4),L_T3-4_R074_Other_(tot_75_and_76):_TOTAL_(4),L_T3-4_R078_TOTAL_LIABILITIES_TO_THE_PUBLIC_(tot_1_41_58_and_67):_Short-term_(1),L_T3-4_R080_OTHER_LIABILITIES_(tot_81_85_86_90_91_and_94):_TOTAL_(4),L_T3-4_R081_Liabilities_i.r.o_derivative_instruments:_to_domestic_sector_(tot_82_to_84):_TOTAL_(4),L_T3-4_R086_Other_trading_liabilities_(excluding_derivatives):_to_domestic_sector_(tot_87_to_89):_TOTAL_(4),L_T3-4_R091_Other_liabilities:_to_domestic_sector_(tot_92_and_93):_TOTAL_(4),L_T3-4_R095_TOTAL_LIABILITIES_(tot_78_to_80):_Short-term_(1)
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-01,66036932.0,66034650.0,9340101.0,1238972.0,1023743.0,54180359.0,NaN,1275218.0,2282.0,2282.0,...,3914415.0,890830.0,NaN,432645.0,38199384.0,48375.0,NaN,NaN,48375.0,41825706.0

In [314]:
list(absa_l.iloc[:,
                absa_l.columns.str.contains("L_T[13]-[24]_R[0-9]{3}_[A-Z]{3,}")].columns[1:-1])

['L_T1-2_R002_DEPOSITS_DENOMINATED_IN_RAND_(tot_3_6_12_13_and_29):_TOTAL_(7)',
 'L_T1-2_R032_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_(tot_33_to_38):_TOTAL_(7)',
 'L_T3-4_R041_OTHER_BORROWED_FUNDS_(tot_42_51_and_57):_TOTAL_(4)',
 'L_T3-4_R058_FOREIGN_CURRENCY_FUNDING_(tot_59_to_63_and_66):_TOTAL_(4)',
 'L_T3-4_R067_OTHER_LIABILITIES_TO_THE_PUBLIC_(tot_68_73_74_and_77):_TOTAL_(4)',
 'L_T3-4_R078_TOTAL_LIABILITIES_TO_THE_PUBLIC_(tot_1_41_58_and_67):_Short-term_(1)',
 'L_T3-4_R080_OTHER_LIABILITIES_(tot_81_85_86_90_91_and_94):_TOTAL_(4)']

In [315]:
list(absa_e.columns[:-2])

['E_T5_R096_TOTAL_EQUITY_(tot_97_and_101):_TOTAL_(1)']

In [316]:
absa_a.iloc[:,absa_a.columns.str.contains("A_T6-13_R[0-9]{3}_[A-Z-]{4,}")].columns[:-1]

Index(['A_T6-13_R103_CENTRAL_BANK_MONEY_AND_GOLD_(tot_104_to_106):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5)',
       'A_T6-13_R110_DEPOSITS_LOANS_AND_ADVANCES_(tot_111_117_118_126_135_139_150_166_171_and_180_less_item_194):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5)',
       'A_T6-13_R195_INVESTMENTS_AND_BILLS_including_trading_portfolio_assets_(tot_196_207_213_217_221_225_229_233_237_241_and_246_less_item_245):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5)',
       'A_T6-13_R258_NON-FINANCIAL_ASSETS_(tot_259_and_264):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5)',
       'A_T6-13_R267_OTHER_ASSETS_(tot_268_to_272_and_276):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5)'],
      dtype='object')

The columns referring to `RXXX` indexes prior to its own

will be removed, and the the `tot_XXX` columns referred to in the 

brackets above will be used to include more information

In [317]:
absa_a.iloc[:,absa_a.columns.str.contains("A_T6-13_R[0-9]{3}_[A-Z]{3,}_.*")]

,A_T6-13_R103_CENTRAL_BANK_MONEY_AND_GOLD_(tot_104_to_106):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R110_DEPOSITS_LOANS_AND_ADVANCES_(tot_111_117_118_126_135_139_150_166_171_and_180_less_item_194):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R195_INVESTMENTS_AND_BILLS_including_trading_portfolio_assets_(tot_196_207_213_217_221_225_229_233_237_241_and_246_less_item_245):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R267_OTHER_ASSETS_(tot_268_to_272_and_276):_TOTAL_ASSETS_(Col_1_plus_col_3)_(5),A_T6-13_R277_TOTAL_ASSETS_(tot_103_110_195_258_and_267):_Domestic_assets_(1)
Date,,,,,
1993-01-01,1659838.0,64985349.0,6177982.0,5228902.0,7.865575e+07
1993-02-01,1475877.0,66786416.0,6056794.0,5541530.0,8.056533e+07
1993-03-01,2027696.0,65508514.0,5967352.0,5560926.0,8.022214e+07
1993-04-01,1394141.0,63811411.0,5565634.0,5273498.0,7.755864e+07
1993-05-01,1448786.0,64089480.0,5728603.0,4564490.0,7.680497e+07
...,...,...,...,...,...
2021-12-01,0.0,64701459.0,43229500.0,932988.0,1.244072e+09
2022-01-01,0.0,62134502.0,38480505.0,1654560.0,1.216991e+09
2022-02-01,0.0,76409017.0,38606905.0,1357.0,1.237919e+09
2022-03-01,0.0,75906076.0,45028622.0,1360.0,1.244144e+09
2022-04-01,0.0,75427581.0,49093204.0,998.0,1.253759e+09

In [318]:
def clean_liab(df):
    keep = list(absa_l.iloc[:,
                            absa_l.columns.str.contains("L_T[13]-[24]_R[0-9]{3}_[A-Z]{3,}")].columns[1:-1])
    del keep[-2]
    df = df[keep]
    df.columns = df.columns.str.replace("T[13]-[24]_R[0-9]{3}_", "", regex=True)
    df.columns = df.columns.str.replace("_[(].*[)]:", "", regex=True)
    df.columns = df.columns.str.replace("_[(][0-9][)]", "", regex=True)
    return(df)

def clean_assets(df):
    keep = list(absa_a.iloc[:,
                            absa_a.columns.str.contains("A_T6-13_R[0-9]{3}_[A-Z-]{4,}")].columns[:-1])
    df = df[keep]
    df.columns = df.columns.str.replace("T6-13_R[0-9]{3}_", "", regex=True)
    df.columns = df.columns.str.replace("_[(].*[)]:", "", regex=True)
    df.columns = df.columns.str.replace("_[(][0-9][)]", "", regex=True)
    df.columns = df.columns.str.replace("_[(].*[)]", "", regex=True)
    return(df)

def clean_equity(df):
    keep = list(absa_e.columns[:-2])
    df = df[keep]
    df.columns = df.columns.str.replace("T5_R[0-9]{3}_", "", regex=True)
    df.columns = df.columns.str.replace("_[(].*[)]:", "", regex=True)
    df.columns = df.columns.str.replace("_[(][0-9][)]", "", regex=True)
    return(df)

In [319]:
absa_l = clean_liab(absa_l)
absa_e = clean_equity(absa_e)
absa_a = clean_assets(absa_a)

In [320]:
absa_a.head(1)

,A_CENTRAL_BANK_MONEY_AND_GOLD_TOTAL_ASSETS,A_DEPOSITS_LOANS_AND_ADVANCES_TOTAL_ASSETS,A_INVESTMENTS_AND_BILLS_including_trading_portfolio_assets_TOTAL_ASSETS,A_NON-FINANCIAL_ASSETS_TOTAL_ASSETS,A_OTHER_ASSETS_TOTAL_ASSETS
Date,,,,,
1993-01-01,1659838.0,64985349.0,6177982.0,1541557.0,5228902.0

In [321]:
absa = pd.concat([absa_l, absa_a, absa_e], axis = 1)

In [322]:
absa = absa.fillna(0)

In [323]:
absa.head(2)

,L_DEPOSITS_DENOMINATED_IN_RAND_TOTAL,L_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_TOTAL,L_OTHER_BORROWED_FUNDS_TOTAL,L_FOREIGN_CURRENCY_FUNDING_TOTAL,L_OTHER_LIABILITIES_TO_THE_PUBLIC_TOTAL,L_OTHER_LIABILITIES_TOTAL,A_CENTRAL_BANK_MONEY_AND_GOLD_TOTAL_ASSETS,A_DEPOSITS_LOANS_AND_ADVANCES_TOTAL_ASSETS,A_INVESTMENTS_AND_BILLS_including_trading_portfolio_assets_TOTAL_ASSETS,A_NON-FINANCIAL_ASSETS_TOTAL_ASSETS,A_OTHER_ASSETS_TOTAL_ASSETS,E_TOTAL_EQUITY_TOTAL
Date,,,,,,,,,,,,
1993-01-01,66034650.0,2282.0,0.0,3914415.0,890830.0,48375.0,1659838.0,64985349.0,6177982.0,1541557.0,5228902.0,3506820.0
1993-02-01,65946508.0,1811.0,1393510.0,4011103.0,1163403.0,409408.0,1475877.0,66786416.0,6056794.0,1543777.0,5541530.0,3506820.0

In [325]:
def differenced(df):
    df = df.diff()
    df = df.iloc[1:,:]
    df.insert(0, "Bank", "ABSA")
    return(df)

In [327]:
absa = differenced(absa)

In [328]:
absa.head(1)

,Bank,L_DEPOSITS_DENOMINATED_IN_RAND_TOTAL,L_DEPOSITS_DENOMINATED_IN_FOREIGN_CURRENCY_TOTAL,L_OTHER_BORROWED_FUNDS_TOTAL,L_FOREIGN_CURRENCY_FUNDING_TOTAL,L_OTHER_LIABILITIES_TO_THE_PUBLIC_TOTAL,L_OTHER_LIABILITIES_TOTAL,A_CENTRAL_BANK_MONEY_AND_GOLD_TOTAL_ASSETS,A_DEPOSITS_LOANS_AND_ADVANCES_TOTAL_ASSETS,A_INVESTMENTS_AND_BILLS_including_trading_portfolio_assets_TOTAL_ASSETS,A_NON-FINANCIAL_ASSETS_TOTAL_ASSETS,A_OTHER_ASSETS_TOTAL_ASSETS,E_TOTAL_EQUITY_TOTAL
Date,,,,,,,,,,,,,
1993-02-01,ABSA,-88142.0,-471.0,1393510.0,96688.0,272573.0,361033.0,-183961.0,1801067.0,-121188.0,2220.0,312628.0,0.0

In [ ]:
absa.to_csv("")

In [ ]:
%matplotlib inline
plt.figure(figsize=(12,4), num="NUM")
plt.xlabel("Year")
plt.ylabel("BS Component")
final_repo_rate["Repo Rate"].plot(grid=True, xlim=(pd.Timestamp("1993-01-31"), pd.Times
yticks=range(23));

Some of the highly overlapping columns are removed now, 
and others will be removed after the necessary
additional features have been calculated.

In [ ]:
# This dataset has a particular problem with overlapping or highly
# correlated features that contain elements from other columns
# Thus, we remove these highly correlated features

def remove_corr(df):
    df.reset_index(inplace=True)
    es = ft.EntitySet(id="Absa_BS")
    ent_set = es.add_dataframe(dataframe_name="Absa_Group_Ltd",
                                dataframe=df, 
                                already_sorted=False, index = "index")
    
    fm, features = ft.dfs(entityset=ent_set,
                      target_dataframe_name="Absa_Group_Ltd",
                      trans_primitives=[],
                      agg_primitives=[], 
                      max_depth=1)
    # From experimentation, the 0.97 threshold seems to remove the 
    # columns that are verbatim totals of others and not removing
    # other columns required for feature analysis.
    # A lower threshold will be used at a later stage after some
    # columns have been used in calculation of additional 
    # features
    fm = ft.selection.remove_highly_correlated_features(fm, 
                                                        pct_corr_threshold=0.97)
    fm.reset_index(inplace=True)
    fm.set_index("index", inplace=True)
    fm.columns.name = "Date"
    fm.index.name = None

    return(fm)

absa = remove_corr(absa)

### Creating the Liquidity Ratio Variable

Now, we want to create a loan to deposit ratio to create a liquidity ratio variable for the bank

In [ ]:
absa.iloc[0,absa.columns.str.contains("^L.*deposits", case=False)]#[1:8]#.sum()

In [ ]:
absa.iloc[0,absa.columns.str.contains("LOANS", case=False, regex=True)]

In [ ]:
def create_total_deposits(df_global):
    df = df_global
    deposits = df.columns.str.contains("^L.*deposits", 
                                           case=False, 
                                           regex=True)
    drops = list(df.columns[deposits])
    df["L_TOTAL_DEPOSITS"] = df.iloc[:,deposits].sum(axis=1)
    df = df.drop(columns=drops)
    return(df)

In [ ]:
absa = create_total_deposits(absa)

In [ ]:
def create_total_loans(df_global):
    df = df_global
    loans = df.columns.str.contains("Loans", 
                                       case=False, 
                                       regex=True)
    drops = list(df.columns[loans])
    df["A_TOTAL_LOANS"] = df.iloc[:,loans].sum(axis=1)
    df = df.drop(columns=drops)
    return(df)

In [ ]:
absa = create_total_loans(absa)

In [ ]:
def liquidity_ratio(df):
    
    

absa[["A_TOTAL_LOANS", "L_TOTAL_DEPOSITS"]]

some of these columns seem to appear 'twice' and will therefore be removed

## Removing Highly Correlated Features

This dataset contains groups of variables that sum together to form larger aggregates. To ensure
that the model only uses features that are relevant once, we remove a subset of those features that
are too highly correlated with others. This would also introduce the issue of multicolinearity if the
features are not removed.

In [ ]:
# This dataset has a particular problem with overlapping or highly
# correlated features that contain elements from other columns
# Thus, we remove these highly correlated features

def remove_corr(df):
    df.reset_index(inplace=True)
    es = ft.EntitySet(id="Absa_BS")
    ent_set = es.add_dataframe(dataframe_name="Absa_Group_Ltd",
                                dataframe=df, 
                                already_sorted=False, index = "index")
    
    fm, features = ft.dfs(entityset=ent_set,
                      target_dataframe_name="Absa_Group_Ltd",
                      trans_primitives=[],
                      agg_primitives=[], 
                      max_depth=1)
    # From experimentation, the 0.9825 threshold seems to remove the 
    # columns that are verbatim totals of others
    # A lower threshold will be used at a later stage after some
    # columns have been used in calculation of additional 
    # features
    fm = ft.selection.remove_highly_correlated_features(fm, 
                                                        pct_corr_threshold=0.9825)
    fm.reset_index(inplace=True)
    fm.set_index("index", inplace=True)
    fm.columns.name = "Date"
    fm.index.name = None

    return(fm)

absa = remove_corr(absa)

In [ ]:
absa.info()